{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{{frames}}
{% block content %}


<body>
<div class="container">
    <h1 class="display-3"><strong>About Us</strong></h1>
    <p class="font-weight-normal">Write something here...</p>
    <center class="display-4"><u><strong> The Team </strong></u></center>
    <div class="container2">
        {% for frame in frames%}
        {% if frame.name == 'Prof. Haydar'%}
        <div class="boss">
            <center class="display-4"><u><strong> Boss </strong></u></center>
            {% include 'cards/team.html' with value=frame %}
        </div>
        {% else %}
        {% include 'cards/team.html' with value=frame %}
        {% endif %}
        {% endfor %}
    </div>
</div>

</body>
</html>

{% endblock %}
