{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{{frames}}
{% block content %}


<body>
  
<div class="container">
    <h1 class="display-4">About Us</h1>
    <p class="font-weight-normal">Our goal at Which Card is to develop a tool that will allow users to easily compare different rewards credit cards based on how they shop. Allow even a novice credit card user to get a card that will allow him or her to earn the most points, miles or cash back possible.</p>
    <h5 style="color:#337CFF; font-size:30px;">Our Product</h5>
    <p class="font-weight-normal">We developed a credit card comparison tool that accounts for peoples’ spending habits and instantly ranks credit card options from America’s top 6 banks - from most to least rewarding. The tool will also display to users their first year rewards value estimate, and provide a few details about each card so they can quickly compare cards side-by-side.
        
    </p>

        <h3 style="color:#337CFF; font-size:25px; text-align: center;">Our Team</h3>
    <div class="container2">
        {% for frame in frames%}
        {% if frame.name == 'Prof. Haydar'%}
        <div class="boss">
            <h3 style="color:#337CFF; font-size:25px; text-align: center;">Boss</h3>
        </div>
        {% endif %}
        {% include 'cards/team.html' with value=frame %}
        {% endfor %}
    </div>
</div>

</body>
</html>

{% endblock %}
