{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}" />
<div class="display">
    <h3 class="value" style="padding: 20px 0px 0px 20px;">{{value}}</h3>
    <div class="grid-container">
        <div class="grid-item" style="padding-left: 20px;"><img
                src="{{STATIC_URL}}https://res.cloudinary.com/value-penguin/image/upload/dpr_1.0,f_auto,q_auto/unavailable-card-update_c5bzxf.png"
                height="150" width="225" /></div>
        <div class="grid-container">
            <div class="grid-item"><b>Bank Name: </b><br />{{value.bankName}}</div>
            <div class="grid-item"><b>Annual Fee: </b><br />{{value.annualFee}}</div>
            <div class="grid-item"><b>Rewards Type: </b><br /> {{value.rewardsType}}</div>
            <div class="grid-item"><b>Credit Score: </b><br /> {{value.creditScore}}</div>
        </div>
        <div>
            <a class="btn btn-warning" target="_blank" href={{value.link}} role="button">APPLY NOW</a>
        </div>
    </div>
    <div style="text-align: right; font-size: 12px; margin-top: 5px; padding-right: 10px;">
        <p><b>Added: </b>{{value.created_at}} <b>Latest Update: </b>{{value.updated_at}}</p>
    </div>
    <div class="space" style="padding: 0px;"></div>

</div>