{% extends "cards/homepage.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Which credit card should you get?</h1>
    <h4>Enter how much you spend each year in these categories (approximately). Then hit submit.</h4>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit">
    </form>

    <div>
        {% if listofcards %}
            <h2>Best Cards</h2>
        {% endif %}
        {% for card in listofcards %}
        {% include 'cards/display_cards.html' with value=card %}
        {% endfor %}
    </div>
</div>

{% endblock %}