{% load static %}
<DOCTYPE html >
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<html >
<head>
<title>Which Card</title>
</head>
<body style="background-image:url(./static/image/background.jpg);
width:100%;
height:100%;
background-repeat:no ;
border:1px solid #ccc;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
">

<div class="navbar">
   <div class="title">
    <p> Which Card</p>
  </div>
      <a href="{% url 'cards:aboutus' %}">About Us</a>
      <a href="{% url 'cards:forms' %}">Forms</a>
      <a class="active" href="{% url 'cards:home' %}">Home</a>
   </div>


</div>

{% block content %}
{% endblock %}
</body>
