{% extends "cards/base.html" %}

  {% block content %}

  <div class="container">
      <br>
  <h1 class = "display-4" style = "text-align: center;">We'll help choose the best credit card for you</h1>
  <p class= "font-weight-normal" style = "text-align: center; font-size: 20px; color: #595957;">Are you undecided on a particular credit card? Are you looking for better rewards?</p>
  <p class="font-weight-normal" style = "text-align: center; font-size: 20px;">WhichCard allows you to compare different rewards credit cards based on your spending habits. 
    <br>We can even help novice credit card users earn the most points, mileage or cash back with our recommendations.</p>
  <h3 style="color:#337CFF; text-align: center;">Instantly discover your best credit card options</h3>

  <div class="row">
    <div class="column" style= "padding:65px;">
      <img src="https://i.imgur.com/di1locy.png" alt="spending" style="width:100%; padding-bottom:20px;">
      <h6 style="max-width:220px; color:#337CFF;">Let's get to know you first!</h6>
      <p style="max-width:220px;">Enter your spending habits into our form so that we fetch the cards with rewards that benefit you most.</p>
    </div>
    <div class="column" style= "padding:65px;">
      <img src="https://i.imgur.com/fGvVTHW.png" alt="algorithm" style="width:100%; padding-bottom:20px;">
      <h6 style="max-width:220px; color:#337CFF;">We will do the work for you.</h6>
      <p style="max-width:220px;">Our credit card comparison tool will instantly provide you with the best credit card options based on the spending patterns you've provided us.</p>
    </div>
    <div class="column" style= "padding:65px;">
      <img src="https://i.imgur.com/5l49JXP.png" alt="pick" style="width:100%; padding-bottom:20px;">
      <h6 style="max-width:240px; color:#337CFF;">You pick <u>WhichCard</u> works best.</h6>
      <p style="max-width:220px;">Instantly compare rewards credit cards and make your selection! We will direct you to the application sites. Earn the most points, miles and cashback possible!</p>
    </div>
  </div>
  </div>
  </body>
  {% endblock %}