{% extends "cards/base.html" %}

  {% block content %}
{% extends "cards/base.html" %}

  {% block content %}
  <div class="container">
    <br>
  <h1 class = "display-4" style = "text-align: center;">We'll help choose the best credit card for you</h1>
  <p class= "font-weight-normal" style = "text-align: center; font-size: 20px; color: #595957;">Are you undecided on a particular credit card? Are you looking for better rewards?</p>
  <p class="font-weight-normal" style = "text-align: center; font-size: 20px;">WhichCard allows you to compare different rewards credit cards based on your spending habits. 
    <br>We can even help novice credit card users earn the most points, mileage or cash back with our recommendations.</p>
  <h3 style="color:#337CFF; text-align: center;">Instantly discover your best credit card options</h5>
  </div>
  {% endblock %}

  {% endblock %}
