<nav class="navbar navbar-expand-lg navbar-dark" style= "background-color: #498af2;">
    <a class="navbar-brand" href="#">Which Card</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link {{ home }}" href="{% url 'cards:index' %}">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link {{ forms }}" href="{% url 'cards:forms' %}">Forms</a>
        <a class="nav-item nav-link {{ about_us }}" href="{% url 'cards:aboutus' %}">About Us</a>
        <a class="nav-item nav-link {{ submit_feedback }}" href="{% url 'cards:submit_feedback' %}">Submit Feedback</a>
      </div>
    </div>
  </nav>
