{% extends "cards/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <br>
    <h2 class="display-4">We recommend these cards for you!</h2>
    <!-- <p class = "text-primary">Some additional words below the caption</p> -->
    <form>
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Change Spending Settings">
    </form>

    {% if list_of_cards %}
    <h2>Best Cards</h2>
    {% endif %}
    {% for card in best_cards %}
    {% include 'cards/display_cards.html' with value=card %}
    {% endfor %}
</div>

{% endblock %}