
.mynav {
     background-color: #498af2;
     position :relative;
     overflow : hidden ;
}

.nav-item a{
     margin-left: 25px;
}


.whichcard{
     float : left;
     color: white;
     font-size: 23px !important;
     /* font-weight: bold; */
}


.homee {
     float : right;
     color: white;
     /* padding: 14px 16px; */
     font-size: 17px;
}

.formss {
     float : right;
     color: #d9edfc;
     /* padding: 14px 16px; */
     font-size: 17px;
}

.aboutuss {
     float : right;
     color: #d9edfc;
     /* padding: 14px 16px; */
     font-size: 17px;
}

 .mynav a:hover{
      /* background-color: white;  */
      text-decoration: none;
     border-bottom: 20px white !important;
} 

 /* .nav-item a:active{
     border-bottom: 10px white; 
     color: black;
} 

/* .nav-item a:focus{
     border-bottom: 10px white; 
     color: black;
}   */

.nav-item a:target{
     border-bottom: 10px white; 
     color: black;
} 

.container2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

.frame{
    display:flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    margin: 20px;
    flex: 1 0 20%;
}

.boss{
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    flex: 1 1 100%;
    margin-top: 20px;
}