.body{
background-image:url(//www.html.am/images/backgrounds/background-image-2.gif);
width:300px;
height:200px;
color:black;
font-size:18px;
border:1px solid #ccc;
padding:5px;"
}
.navbar {
     background-color: black;
     position :relative;
     overflow : hidden ;
}


.navbar a {
     float : right;
     color: white;
     padding: 14px 16px;
     font-size: 17px;
}

.title  {
     float : left;
     color: white;
     font-size: 17px;
     font-weight: bold;
}


